@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to right, blue, rgb(236, 2, 236));  */
}

.wrapper {
    background: #fff;
    border-radius: 10px;
    width: 26%;
    /* padding: 2rem; */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.heading {
    background: linear-gradient(to right, rgb(72, 99, 255), rgb(171, 1, 171));
    padding: 1.2rem;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.heading h1{
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.2px;
}

.content {
    margin-top: 10px;
}

.content input {
    padding: 12px 16px;
    width: 88%;
    margin: 16px 20px 0 20px;
    border: 1px solid lightgray;
    border-radius: 50px;
    font-size: 15px;
}

