@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to right, blue, rgb(236, 2, 236));  */
}

.wrapper {
    background: #fff;
    /* width: 50%; */
    padding: 2rem;
}